Flask==3.1.0
Telethon==1.40.0
python-dotenv==1.0.1
SQLAlchemy==2.0.41
Flask-SQLAlchemy==3.1.1
Flask-Cors==6.0.1
Flask-SocketIO==5.5.1
eventlet==0.40.2
requests==2.32.4
cryptography==45.0.5
Pillow==11.3.0
aiohttp==3.12.14
